<h3>Add a new region:</h3>
<form #F="ngForm" (ngSubmit)="OnSubmit()">
  <div>
    <label for="Name">Name:</label>
    <input type="text" id="Name" name = "Name" [(ngModel)]="Name"/>
  </div>
  <div>
    <label for="Country">Country:</label>
    <input list="Countries" id="Country" name = "Country" [(ngModel)]="Country"/>
    <datalist id="Countries">
      <option *ngFor="let c of countries"> <country [country] = "c"></country></option>
    </datalist>
  </div>
  <div>
    <input type="submit" Value = "Add Region"/>
  </div>
</form>

<h2>
  Regions to "LOOK 'n' BOOK"
</h2>

<ul>
  <li *ngFor="let r of regions"> <region [region] = "r"></region> </li>
</ul>