<div class="panel panel-default">
  <div class="panel-heading">{{accomm.Name}}</div>
  <div class="panel-body">
    <img [src]="imageUrl" float="left" class="img-responsive" alt="Accommodation Image" width="300">
    <p>{{accomm.Address}}</p><br>
    <p>{{accomm.Description}}</p><br>
	<div>
    <a (click)="AddRoom(accomm.Id)" class="btn btn-info">Add Room</a>
		<a (click)="Update(accomm)" class="btn btn-info">Edit</a>
		<a (click)="Delete(accomm.Id)" class="btn btn-danger">Delete</a>
	</div>
  </div>
</div>

<router-outlet></router-outlet>
