<form #F="ngForm" (ngSubmit)="OnSubmit()" class="form-horizontal">
<fieldset>
<legend>Add comment</legend>

   <div class="form-group">
      <label for="textArea" class="col-sm-2 control-label">Text:</label>
      <div class="col-lg-10">
        <textarea class="form-control" rows="3" id="textArea" name = "textArea" [(ngModel)]="Text"></textarea>
      </div>
    </div>

   <div class="form-group">
      <label for="select" class="col-sm-2 control-label">Grade:</label>
      <div class="col-sm-10">
        <select class="form-control" id="select" name = "Grade" [(ngModel)]="Grade">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>
    </div>

  <div class="form-group">
    <div class="col-sm-2 col-lg-offset-2">
    <input class="btn btn-primary" type="submit" Value = "Post comment"/>
    </div>
  </div>
</fieldset>
</form>

<h2>
  Comments
</h2>

<div class="list-group">
  <div class="list-group-item" *ngFor="let c of comments"> 
	<comment [comment] = "c"></comment>
  </div>
</div>
