<form #F="ngForm" (ngSubmit)="OnSubmit()" class="form-horizontal">
<fieldset>
<legend>Add accommodation</legend>

    <div class="form-group">
      <label for="accName" class="col-sm-2 control-label">Accommodation name:</label>
      <div class="col-lg-10">
        <input class="form-control" type="text" id="accName" name="accName" [(ngModel)]="Name"/>
      </div>
    </div>   

    <div class="form-group">
      <label for="address" class="col-sm-2 control-label">Address:</label>
      <div class="col-lg-10">
        <input class="form-control" type="text" id="address" name="address" [(ngModel)]="Address"/>
      </div>
    </div>   

    <div class="form-group">
      <label for="textArea" class="col-sm-2 control-label">Description:</label>
      <div class="col-lg-10">
        <textarea class="form-control" rows="3" id="textArea" name = "textArea" [(ngModel)]="Description"></textarea>
      </div>
    </div>

    <div class="form-group">
      <label for="latitude" class="col-sm-2 control-label">Latitude:</label>
      <div class="col-lg-10">
        <input class="form-control" type="number" id="latitude" name="latitude" [(ngModel)]="Latitude"/>
      </div>
    </div>

    <div class="form-group">
      <label for="longitude" class="col-sm-2 control-label">Longitude:</label>
      <div class="col-lg-10">
        <input class="form-control" type="number" id="longitude" name="longitude" [(ngModel)]="Longitude"/>
      </div>
    </div> 

    <div class="form-group">
      <label for="longitude" class="col-sm-2 control-label">Image:</label>
      <div class="col-lg-10">
        <input class="form-control" type='file' onchange="readURL(this);" />
     </div>
    </div> 

  <div class="form-group">
    <label class="control-label col-sm-2" for="Place">Place:</label>
    <div class="col-sm-10">
      <select class="form-control" id="Place" name = "Place" [(ngModel)]="Place.Id">
        <option *ngFor="let p of places" [value]="p.Id">{{p.Name}}</option>
      </select>
    </div>
  </div>

    <div class="form-group">
    <label class="control-label col-sm-2" for="AccType">Accommodation type:</label>
    <div class="col-sm-10">
      <select class="form-control" id="AccType" name = "AccType" [(ngModel)]="AccType.Id">
        <option *ngFor="let at of accTypes" [value]="at.Id">{{at.Name}}</option>
      </select>
    </div>
  </div> 

  <div class="form-group">
    <div class="col-sm-2 col-lg-offset-2">
    <input class="btn btn-primary" type="submit" Value = "Add Accommodation"/>
    </div>
  </div>
</fieldset>
</form>

<h2>
  Accommodations
</h2>

<div class="list-group">
  <div class="list-group-item" *ngFor="let a of accommodations"> 
	<accommodation [accomm] = "a"></accommodation>
  </div>
</div>